<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" type="text/css"  href="static/css/head_body.css">
<!--        <link href=""> フォント-->
        <title>season</title>
    </head>
    <body>
    <div class="a-b-menu">
        <ul class="a-b-list">
            <li class="a-b-item"></li>
                <a class="a-b-link" href="/">
                    <span class="a-b-link-season">season</span>
                </a>
            <li class="a-b-item"></li>
                <a class="a-b-link a-b-link-spring" href="/spring">
                    <span class="a-b-link-season">spring</span>
                </a>
            <li class="a-b-item"></li>
                <a class="a-b-link a-b-link-summer" href="/summer">
                    <span class="a-b-link-season">summer</span>
                </a>
            <li class="a-b-item"></li>
                <a class="a-b-link a-b-link-autumn" href="/autumn">
                    <span class="a-b-link-season">autumn</span>
                </a>
            <li class="a-b-item"></li>
                <a class="a-b-link a-b-link-winter" href="/winter">
                    <span class="a-b-link-season">winter</span>
                </a>
            </ul>
        </div>
        <!-ul li 箇条書き,
            span インライン要素をグループ化,
            href リンク付与,
            div ブロック要素をグループ化,
        ->
        <img src="../static/pictures/header_pic.jpg" alt="Result">
            <div class="a-b-c">
                <h1>春夏秋冬</h1>
                <p>春</p>
                <p>夏</p>
                <p>秋</p>
                <p>冬</p>
            </div>
    </body>
</html>
